<!doctype html>
<html>
  <head>
    <title>CVPress</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script type="text/javascript" src="js/FormManager.js"></script>
    <script type="text/javascript" src="js/editor.js"></script>
  </head>
  <body>
    <div id="menu">
      <div class="wrapper">
        <h1 id="title">
          <a href="#">CVPress</a>
        </h1>
        <div id="right">
          <a class="button" id="importLinkedIn">Import from LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div id="resume">
        <input type="text" name="name" id="name" value="" class="h1" placeholder="John Doe" />

        <div id="contact" class="section">

          <h2>Contact</h2>

          <div class="half">
            <div class="input labeled">
              <label for="email">Email</label>
              <input type="text" id="email" name="email" value="" placeholder="johndoe@gmail.com" />
            </div>

            <div class="input labeled">
              <label for="phone">Phone</label>
              <input type="text" id="phone" name="phone" value="" placeholder="(555) 555-5555" />
            </div>

            <div class="input labeled">
              <label for="website">Website</label>
              <input type="text" id="website" name="website" value="" placeholder="johndoe.com" />
            </div>
          </div>

          <div class="half">
            <div class="input labeled">
              <label for="address">Address</label>
              <input type="text" id="address" name="address" value="" placeholder="123 Streat Rd" />
            </div>

            <div class="input labeled">
              <label for="postalCode">Postal Code</label>
              <input type="text" id="postalCode" name="postalCode" value="" placeholder="1A1 A1A" />
            </div>

            <div class="input labeled">
              <label for="location">Location</label>
              <input type="text" id="location" name="location" value="" placeholder="Waterloo, ON, Canada" />
            </div>
          </div>

          <div id="profiles" class="subsection">
            <h3>Profiles</h3>

          </div>

        </div>

        <div class="section">
          <h2>Skills</h2>
          <ul id="skills">
          </ul>
        </div>

        <div id="work" class="section">
          <h2>Work Experience</h2>
        </div>

        <div id="volunteer" class="section">
          <h2>Volunteer Experience</h2>
        </div>

        <div id="education" class="section">
          <h2>Education</h2>
        </div>

        <div id="awards" class="section">
          <h2>Awards</h2>
        </div>
        
        <div id="exports">
          <a class="button" id="exportPDF">Export PDF</a>
          <a class="button" id="exportHTML">Export HTML</a>
        </div>

        <form name="input" action="/creator" method="post" id="saveJSON">
          <input type="hidden" name="_token" value="<%= token %>" />
          <input type="hidden" name="json" value="" id="json" />
          <!--<input type="button" value="Save" id="save" />-->
        </form>
        <form name="exportPDF" action="/html2pdf" method="post" id="exportPDFForm">
          <input type="hidden" name="_token" value="<%= token %>" />
          <input type="hidden" name="json2" value="" id="json2" />
        </form>
        <form name="exportHTMLForm" action="/html2html" method="post" id="exportHTMLForm">
          <input type="hidden" name="_token" value="<%= token %>" />
          <input type="hidden" name="html" value="" id="html" />
        </form>
      </div>
    </div>
    
  </body>
</html>