@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300);

body {
  margin:0;
  padding:0;
  background-color:#FFF;
  font-family: 'Open Sans', sans-serif;
}

#menu {
  height: 50px;
  line-height: 50px;
  background-color:#FFF;
  padding:15px;
}

#menu h1 {
  margin:0;
  padding:0;
}

#menu h1 a {
  font-family: 'Arvo', serif;
  font-weight: normal;
  text-decoration: none;
  color:#999;
  font-size:30px;
}

.wrapper {
  width:1000px;
  margin: 0 auto;
}

#resume {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.75);
  -moz-box-shadow:    0px 0px 20px 0px rgba(150, 150, 150, 0.75);
  box-shadow:         0px 0px 20px 0px rgba(150, 150, 150, 0.75);
  padding: 40px 25px;
  background-color:#FFF;
  margin-top:20px;
}

input {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:3px solid #FFF;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding:10px;
  background-color:#FFF;
  display:block;
}

input[type="text"]:hover {
  border-bottom: 3px solid #DDD;
}

input[type="text"]:focus {
  border-bottom: 3px solid #a1bac9;
}

.h1 {
  font-size: 30px;
  width:70%;
  margin:0 auto;
}